@media (min-width: 320px) {
  .header-height-adjuster {
    height: 250px;
    font-size: 12px;
  }
  .text-adjuster {
    padding-top: 100px;
  }
}
@media (min-width: 480px) {
  .header-height-adjuster {
    height: 300px;
    font-size: 14px;
  }
}
@media (min-width: 640px) {
  .header-height-adjuster {
    height: 300px;
    font-size: 16px;
  }
}
@media (min-width: 960px) {
  .header-height-adjuster {
    height: 350px;
    font-size: 20px;
  }
}

.header-height-adjuster img {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right
        bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.4)));
}
