@media (min-width: 320px) {
    .header-height-adjuster {
        height: 150px;
        font-size: 10px;
    }
}
@media (min-width: 480px) {
    .header-height-adjuster {
        height: 200px;
        font-size: 12px;
    }
}
@media (min-width: 640px) {
    .header-height-adjuster {
        height: 250px;
        font-size: 16px;
    }
}
@media (min-width: 960px) {
    .header-height-adjuster {
        height: 300px;
        font-size: 20px;
    }
}
